/* Welcome to Event Manager Project
*
*/

/************ Login & Registration Section ******************/
html,body{
    height:100%;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;    
       
}

.logo {
    margin-top: 50px;  
}
.caption {
    font-family:"Berlin San FB";
    font-size: 36px;
    font-weight:bold;
    color: #ff00ff;
    text-shadow: 2px 2px #ff0000; 
    
}
.moto {
    font-family:"Monotype Corsiva";
    font-size: 30px;
    text-shadow: 2px 2px #000;
    color: #fff;  
}
.sign_button {
    margin-top: 50px;
}