/* Welcome to Event Manager Project
*
*/

/************ Login & Registration Section ******************/
html{
    height:100%;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;    
       
}

.logo {
    margin-top: 50px;  
}
.caption {
    font-family:"Berlin San FB";
    font-size: 36px;
    font-weight:bold;
    color: #d746c0;    
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
    
}
.moto {
    font-family:"Monotype Corsiva";
    font-size: 30px;
    text-shadow: 2px 2px #000;
    color: #fff; 
    font-stretch: 10px; 
}

.sign_button {
    margin-top: 50px;
}
/*for small device   */
@media (max-width: 768px) {
    .caption {
        font-size: 18px;
    }
    .moto {
        font-size: 16px;
    }
    .btn {
        padding: 4px 6px;
        font-size: 12px;
        line-height: 2;
        
    }   
}

