/* Welcome to Event Manager Project
*
*/

/************ Login & Registration Section ******************/
html,body{
    height:100%;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         
}